html(lang="en")
    head
        meta(charset="UTF-8")   
        style
            include ./email.css
    body
        h2 Confirma tu cuenta
        p Ya casi estas inscrito solo presiona el boton
        a(href=`${confirmarUrl}`) Confirmar cuenta
        p si no puedes acceder a este enlace visita #{confirmarUrl} 
        p si no solicitaste este email, puedes ignorarlo