html(lang="en")
    head
        meta(charset="UTF-8")   
        style
            include ./email.css
    body
        h2 Reestablecer password
        p Hola, has solicitado reestablecer tu password, has click en el siguiente enlace para reestablecerlo,el enlace es temporal
        a(href=`${confirmarUrl}`) Reestablecer cuenta
        p si no puedes acceder a este enlace visita #{confirmarUrl} 
        p si no solicitaste este email, puedes ignorarlo